{% extends "base.html" %}

{% block subtitle %}
{% endblock subtitle %}

{% block body %}
    <div class="row">
        <div class="{% block page_size %}col-12{% endblock page_size %}">
            <h1>
                Blog -
                {% block page_header %}
                {% endblock page_header %}
            </h1>
            <hr>
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% comment %} <h1>
        Blog@base -
        {% block page_header %}
        {% endblock page_header %}
    </h1>
    <hr>
    {% block content %}
    {% endblock content %} {% endcomment %}
{% endblock body %}
